body {background-color: #4166F5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;}

.socials {
  margin-bottom: 20px; 
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  color: #;}
        
.bold-text {
  font-weight: bold;
  color: #1b031f;
}









