body {background-color: #4166F5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;}

.socials-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.socials {
  display: flex;
  gap: 30px;
  font-size: 50px;
  color: white;
}
        
.bold-text {
  font-weight: bold;
  color: #1b031f;
}










