body {background-color: #4166F5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;}

.socials-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.socials {
  display: flex;
  gap: 30px;
  font-size: 50px;
  justify-content: center
  margin-top: 40px;
  color: white;
}
        
.bold-text {
  font-weight: bold;
  color: #1b031f;
}

body {
  position: relative;}

a[href="index.html"] {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 20px;
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 8px;}

[href="index.html"] {
  font-size: 24px;}









